* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 200px;
}

.headerheader {
   background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 100%);
}

.header {

    text-align: center;
}

.fab {
    }
    
.enterNote {
    border-radius: 5px;
}

.backButton {
    display: block;
}

.centerImage {
    text-align: center;
}

#rectangle{
    width:100%;
    height:200px;
}